.content-modal-sucess{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50%;
}

.content-modal-sucess img{
	width: 115px;
	height: 115px;
}

.actionButtons{
	margin: 30px auto;
	display: flex;
	justify-content: center;
}

.align-modal-address{
	margin-top: 25%;
}


