.makeStyles-h2-14 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #525459;
}

.makeStyles-spanDesc-15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: rgba(34, 34, 34, 0.87);
}

.makeStyles-priceDiv-13 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}