
.container {
	width: 100%;
	height: 100vh;
	background-image: url('../../Assets/bg-laranja.png');
	background-repeat: no-repeat;
	background-size:cover ;
	background-position: 10% 50%;
	display: flex;
	position: relative;
}

.cadastroLogo{
	position: absolute;
	left: 20px;
	top: 20px;
}

.cadastroPic{
	height: 100vh;
	width: 66%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cadastroPic img {
	max-width: 550px;
	max-height: 499px;
}

.cardCadastro {
	width: 35%;
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardCadastro h1 {
	font-family: 'Baloo 2', sans-serif;
	font-size: 32px;
	color: #D13201;
}

.linkCadastro{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #6F7377;
}

.containerButtonCadastro{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.formsCadastro {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #393C40;
	gap: 20px;
	margin-top: 20px;
}




