.buttonLogin {
    background-color: #D13201;
    color: white;
    border-radius: 20px;
    width: 126px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    text-decoration: none;
  }

  .loginTitle {
    color: #D13201;
    font-size: 32;
    font-weight: 600;
    margin-bottom: 88;
  }

  .placeholderLogin {
    color: #393C40;
    font-size: 16px;
		font-weight: bolder;
  }

	.linkLogin {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
	}

