.container-products {
    height: 100vh;
}

.headerProducts {
    background-image: url('../../Assets/bg-pizzaria.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 232.147px 0px;
    width: 100%;
    height: 11rem;
}

/* .img-container {
    background-image: url('../../Assets/pizarria.png');
    border-radius: 50%;
    background-color: #FFFFF;
} */
.title-header{
    z-index: 0;
    margin-left: 18rem;
}

.imgProfile {
    border-radius: 50%;
    border: 6px solid white;
    width: 10rem;
    margin-left: 5rem;
    margin-right: 2rem;
    margin-top: 5rem;
    position: absolute;
    z-index: 1;

}

.btn-logout {
    margin-bottom: 2.2rem;
    margin-left: auto;
    margin-right: 10rem;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.main-products {
    height: 100%;
    gap: 1.5rem;
}

.text-products {
    width: 28rem;
    text-align: center;
    line-height: 1.8rem;
}

.container-main {
    gap: 2rem;
    width: 60rem;
    height: auto;
    margin-top: 2rem;
}

.actBtn {
    margin-left: auto;
}