.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-flex-end {
    align-items: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 400px); 
    column-gap: 40px;
    row-gap: 2rem;
    margin-bottom: 40px;
    margin-left: 3rem;
    width: 950px;
}

.none {
    display: none;
}